

<mat-sidenav-container class="example-container mat-typography" autosize>
  <mat-sidenav #drawer mode="side" disableClose="true" opened="true" 
  (mouseover)="isExpanded = true" (mouseout)="isExpanded = false"
  [ngClass]="{ 'expanded': isExpanded }">

    <mat-nav-list *ngIf="!isExpanded">
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>domain</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder_shared</mat-icon>
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list *ngIf="isExpanded">
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line>Management A</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>
        <h4 mat-line>Management B</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>domain</mat-icon>
        <h4 mat-line>Management C</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder_shared</mat-icon>
        <h4 mat-line>Management X</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content [ngClass]="{ 'expanded': isExpanded }">
    <div class="container">
      main content
    </div>
    </mat-sidenav-content>
</mat-sidenav-container>